@import "variables";

/* header Start */
.header {
	background: $white;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 50;
	box-shadow: 0px 7px 16px #0000001F;



	/* header_bottom */
	.header_bottom {
		width: 100%;
		min-height: 113px;
		padding: 15px 0;
		position: relative;
		display: flex;
		align-items: center;

		@media (max-width:1199px) {
			min-height: 105px;
		}

		@media (max-width:767px) {
			min-height: 85px;
		}

		.custom_container {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
			gap: 10px;
		}

		.l_logo {
			width: 100%;
			max-width: 98px;

			@media (max-width:767px) {
				max-width: 75px;
			}

			a {
				display: inline-block;

				img {
					width: 100%;
					max-height: 73px;

					@media (max-width:767px) {
						max-height: 55px;
					}
				}

				&.gray_logo {
					display: none;
				}
			}
		}

		


		.header_mid {
			display: flex;
			align-items: center;
			gap: 10px 45px;

			@media (max-width:1299px) {
				gap: 10px 25px;
			}

			.main_navigation {

				@media (max-width:1199px) {
					width: 100%;
					float: left;
				}

				ul {
					list-style: none;
					margin: 0;
					padding: 0;
				}

				> {
					ul {
						display: flex;
						flex-wrap: wrap;
						align-items: center;
						gap: 10px 25px;

						@media (max-width:1299px) {
							gap: 10px 20px;
						}

						@media (max-width:1199px) {
							flex-direction: column;
							align-items: flex-start;
							gap: 15px;
						}

						> {
							li {
								display: flex;

								@media (max-width:1199px) {
									width: 100%;
								}

								> {
									a {
										font-size: 13px;
										line-height: 20px;
										color: $szeero;
										font-family: $Outfit;
										font-weight: 500;
										transition: all ease-in-out 0.4s;
										cursor: pointer;
										position: relative;

										@media (max-width:1199px) {
											width: 100%;
											font-size: 16px;
											line-height: 20px;
											font-weight: 600;
											color: $primary;
										}

										&:before {
											content: '';
											width: 100%;
											height: 49px;
											position: absolute;
											left: 0;
											bottom: -45px;

											@media (max-width:1199px) {
												display: none;
											}
										}
									}
								}

								&.dsk_arrow {
									display: flex;
									align-items: center;
									gap: 4px;

									@media (max-width:1199px) {
										gap: 2px;
										flex-direction: column;
										position: relative;
									}

									&:before {
										@media (max-width:1199px) {
											content: '';
											width: 10px;
											height: 10px;
											border-top: 2px solid $primary;
											border-right: 2px solid $primary;
											position: absolute;
											right: 10px;
											top: 5px;
											transform: rotate(45deg);
										}
									}

									.arrow {
										background: url("../images/common-images/icon_arrow_gray.svg")no-repeat center center;
										width: 15px;
										height: 10px;
										display: inline-block;
										cursor: pointer;
										margin-top: 3px;

										@media (max-width:1199px) {
											background: none;
											border-radius: 3px;
											position: absolute;
											right: 0;
											top: 0;
											display: none;
										}

										&.active {
											transform: rotate(180deg);
											background-position: center top 8px;
										}
									}
								}

								&:hover {
									a {
										color: $secondary;

										&:after {
											opacity: 1;
										}
									}

									.custom_dropdown {
										@media (min-width:992px) {
											display: block !important;
										}
									}

									.arrow {
										background: url("../images/common-images/icon_arrow_blue.svg")no-repeat center center;
									}
								}

								&.active {
									a {
										color: $secondary;

										&:after {
											opacity: 1;
										}
									}

									.arrow {
										background: url("../images/common-images/icon_arrow_blue.svg")no-repeat center center;
									}
								}

								&.single {
									@media (min-width:1200px) {
										position: relative;
									}

									.custom_dropdown {
										@media (min-width:1200px) {
											border-radius: 15px;
											width: 250px;
											top: 62px;
											left: 0;
										}

										.custom_container {
											@media (min-width:1200px) {
												padding: 0;
											}
										}

										.whitebox {
											ul {
												li {
													a {
														font-size: 14px;
														line-height: 20px;
														font-weight: 500px;
														font-family: $Outfit;
														letter-spacing: -0.14px;
														color: $secondary;
														display: flex;
														align-items: flex-start;
														gap: 10px;
														padding: 15px 20px;
														transition: all ease-in-out 0.4s;

														@media (max-width:1199px) {
															font-weight: 600;
															font-size: 16px;
															line-height: 22px;
														}

														.icon {
															width: 15px;
															min-width: 15px;
														}

														&:hover {
															color: $primary;
														}
													}

													~ {
														li {
															a {
																border-top: 1px solid #EAEAEA;
															}
														}
													}
												}
											}
										}

									}
								}
							}
						}
					}
				}

				.custom_dropdown {
					background: $white;
					width: 100%;
					max-height: 600px;
					padding: 0px;
					position: absolute;
					left: 0;
					top: 105px;
					display: none;
					overflow: hidden;
					overflow-y: auto;
					border-radius: 0 0 15px 15px;
					box-shadow: 0px 5px 16px #0000001F;

					@media (max-width:1525px) {
						max-height: 500px;
					}

					@media (max-width:1365px) {
						max-height: 420px;
					}

					&:before {
						content: '';
						width: 100%;
						height: 30px;
						position: absolute;
						left: 0;
						top: -25px;
						cursor: pointer;

						@media (max-width:991px) {
							display: none;
						}
					}

					&.show {
						display: block;
					}

					.customscroll {
						overflow-y: auto;
					}

					.mbl_div {
						display: none;
					}

					.whitebox {
						background: $white;
						width: 100%;
						border-radius: 5px;
						padding-top: 5px;

						@media (max-width:1199px) {
							padding: 0px 0 20px;
						}

						@media (max-width:991px) {
							padding-bottom: 0;
						}

						@media (max-width:767px) {
							flex-wrap: wrap;
							gap: 15px 0;
							padding: 0;
						}

						&.design1 {
							display: flex;
							flex-wrap: wrap;
							position: relative;

							@media (max-width:991px) {
								flex-wrap: wrap;
								gap: 30px 0;
							}

							@media (max-width:767px) {
								gap: 0;
							}

							ul {
								width: 100%;
								display: flex;
								flex-direction: column;
								gap: 0px 15px;

								@media (max-width:767px) {
									gap: 0 10px;
								}

								li {
									width: 100%;
									padding: 20px 25px;
									display: flex;
									align-items: flex-start;

									@media (max-width:1199px) {
										padding: 15px 0;
									}

									@media (max-width:991px) {}

									@media (max-width:767px) {
										padding: 10px 0;
									}

									~ {
										li {
											border-top: 1px solid #EAEAEA;
										}
									}

									a {
										font-size: 14px;
										line-height: 21x;
										letter-spacing: 0.14px;
										letter-spacing: 0.14px;
										font-family: $Quicksand;
										font-weight: 700;
										color: $primary;
										position: relative;
										display: flex;
										gap: 10px;
										transition: all ease-in-out 0.4s;

										@media (max-width:991px) {
											font-size: 14px;
											line-height: 18px;
										}

										.icon {
											width: 20px;
											min-width: 20px;

											@media (max-width:767px) {}
										}

										&:hover {
											color: $red;
										}
									}
								}
							}

						}

						&.design2 {
							padding: 20px 0;
							min-height: 150px;
							display: flex;
							flex-wrap: wrap;
							position: relative;

							ul {
								width: 100%;
								display: flex;
								flex-wrap: wrap;
								gap: 15px 0;

								@media (max-width:767px) {
									flex-direction: column;
								}

								li {
									width: 33%;
									padding: 20px 30px;
									display: flex;
									align-items: flex-start;

									@media (max-width:1199px) {
										padding: 15px 20px;
									}

									@media (max-width:991px) {
										padding: 15px;
									}

									@media (max-width:767px) {
										width: 100%;
										padding: 10px 0;
									}

									~ {
										li {
											border-left: 1px solid #EAEAEA;

											@media (max-width:767px) {
												border: 0;
											}
										}
									}

									&:nth-child(3n+1) {
										border-left: 0;
									}

									a {
										width: 100%;
										min-height: 72px;
										display: flex;
										gap: 15px;
										justify-content: space-between;
										align-items: flex-end;

										@media (max-width:1199px) {
											align-items: flex-start;
										}

										.icon {
											width: 70px;
											min-width: 70px;
											height: 53px;
											display: flex;
											align-items: center;
											justify-content: flex-end;
											position: relative;

											&:before {
												content: '';
												background-color: #fff3d3;
												width: 53px;
												height: 53px;
												position: absolute;
												left: 0px;
												top: 0;
												border-radius: 50px;
											}

											img,
											svg {
												width: 100%;
												max-width: 60px;
												max-height: 60px;
												position: relative;
											}
										}

										.text {
											width: 100%;

											h3 {
												font-size: 18px;
												line-height: 24px;
												letter-spacing: -0.18px;
												color: $primary;
												font-family: $Outfit !important;
												font-weight: 600;
												margin: 0;

												@media (max-width:991px) {
													font-size: 16px;
													line-height: 22px;
												}
											}

											p {
												font-size: 12px;
												line-height: 20px;
												color: $blacklight;
												font-family: $Outfit;
												font-weight: 300;
												margin: 0;
											}

											.learmmre {
												font-size: 13px;
												line-height: 16px;
												font-weight: 700;
												color: $primary;
												display: flex;
												align-items: center;
												gap: 10px;
												margin: 10px 0 0;
												display: none;
												opacity: 0;

												@media (max-width:1199px) {
													display: flex;
													opacity: 1;
												}

												@media (max-width:991px) {
													font-size: 12px;
												}
											}
										}

										&:hover {
											.text {
												h3 {
													color: $secondary;
												}

												.learmmre {
													opacity: 1;
													display: flex;

													@media (max-width:991px) {
														color: $primary;
													}
												}
											}
										}
									}

								}
							}
						}
					}

					@media (max-width:1199px) {
						background: $white;
						max-height: inherit;
						position: fixed !important;
						width: 100%;
						left: 101% !important;
						top: 105px !important;
						bottom: 0 !important;
						border-radius: 0;
						padding: 15px 0px;
						display: block;
						transform: none !important;
						transition: all ease-in-out 0.4s;
						border: 0;
						z-index: 2;
						border-top: 1px solid $primary;
					}

					@media (max-width:767px) {
						top: 85px !important;
					}

					&.slide {
						left: 0 !important;

						.mbl_div {
							display: flex;
							flex-direction: column;
							align-items: flex-start;
							gap: 10px;
							margin-bottom: 5px;

							.backmenu {
								background: none;
								border: 0;
								cursor: pointer;

								svg {
									path {
										fill: $secondary;
									}
								}
							}

							strong {
								font-size: 18px;
								line-height: 24px;
								color: $secondary;
								display: inline-block;
								font-weight: 700;
								position: relative;
								font-family: $Quicksand;
								padding-bottom: 5px;

								&:before {
									content: '';
									background: $primary;
									width: 100%;
									height: 2px;
									border-radius: 10px;
									position: absolute;
									left: 0;
									bottom: 0;
								}
							}
						}
					}
				}
			}

			@media (max-width: 1199px) {
				background-color: $white;
				padding: 15px;
				max-height: inherit;
				position: fixed !important;
				width: 100%;
				left: 101% !important;
				top: 105px !important;
				bottom: 0 !important;
				border-radius: 0;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 20px;
				transform: none !important;
				transition: all ease-in-out 0.4s;
				border: 0;
				overflow: hidden;
				overflow-y: auto;
				border-top: 1px solid $primary;
			}

			@media (max-width: 767px) {
				top: 85px !important;
			}

			&.show {
				@media (max-width: 1199px) {
					left: 0 !important;
				}
			}

			.number {
				display: none;

				@media (max-width: 767px) {
					display: flex !important;
					font-size: 16px;
					color: $primary;
				}

				svg {
					path {
						@media (max-width: 767px) {
							fill: $primary;
						}
					}
				}
			}
		}

		.header_right {
			display: flex;
			align-items: center;
			gap: 10px 35px;
			margin-left: 30px;

			@media (max-width:1299px) {
				gap: 10px 25px;
			}

			@media (max-width: 767px) {
				gap: 15px;
			}

			.number {
				@media (max-width: 767px) {
					display: none;
				}
			}

			.rgtbtn {
				background-color: $secondary;
				min-width: 165px;
				height: 44px;
				padding: 5px 10px;
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 8px;
				font-size: 13px;
				line-height: 18px;
				color: $lightpink;
				font-family: $Outfit;
				font-weight: 600;
				border: 2px solid $secondary;
				border-radius: 50px;
				transition: all ease-in-out 0.4s;

				@media (max-width: 767px) {
					min-width: 130px;
					font-size: 12px;
				}

				svg {
					path {
						fill: $lightpink;
						transition: all ease-in-out 0.4s;
					}
				}

				&:hover {
					background-color: $lightpink;
					border-color: $lightpink;
					color: $secondary;

					svg {
						path {
							fill: $secondary;
						}
					}
				}
			}
		}

		.number {
			font-size: 13px;
			line-height: 20px;
			font-weight: 500;
			color: $szeero;
			display: flex;
			align-items: center;
			gap: 10px;
			transition: all ease-in-out 0.4s;

			svg {
				path {
					fill: $szeero;
					transition: all ease-in-out 0.4s;
				}
			}

			&:hover {
				color: $secondary;

				svg {
					path {
						fill: $secondary;
					}
				}
			}
		}

		.menu_icon {
			width: 18px;
			height: 18px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 4px;
			position: relative;
			cursor: pointer;
			display: none;

			@media (max-width:1199px) {
				display: flex;
				order: 3;
			}

			span {
				background: $secondary;
				width: 100%;
				height: 2px;
				border-radius: 10px;
				cursor: pointer;
				transition: all ease-in-out 0.4s;
			}

			&.active {
				span {
					background: $primary;

					&.one {
						transform: rotate(-45deg);
						position: absolute;
						left: 1px;
						top: 8px;
					}

					&.two {
						opacity: 0;
					}

					&.three {
						transform: rotate(45deg);
						position: absolute;
						left: 1px;
						bottom: 8px;

					}
				}
			}
		}

		.social_icon {
			width: 100%;
			display: flex;
			justify-content: flex-end;
			gap: 10px;
			position: relative;
			top: -70px;
			margin-bottom: -50px;

			@media (max-width:1199px) {
				top: inherit;
				margin: 0;
			}

			@media (max-width:767px) {
				flex-wrap: wrap;
				justify-content: flex-start;
			}

			.s_label {
				margin-right: 20px;

				@media (max-width:767px) {
					width: 100%;
					margin: 0px;
				}
			}
		}
	}

	/* fixed_header */
	&.fixed_header {
		box-shadow: 0px 2px 10px #00000088;
	}
}

